/* dark.css: 👉 light-on-dark */
:root {
    --color: rgb(250, 250, 250);
    --accent: #3d6a4a;
    --hover: #704d37;
    --background-color: rgb(5, 5, 5);
    --background-color-alt: rgb(34, 34, 34);
}
