:root {
	color-scheme: light dark;
}

body {
	font-family: sans-serif;
	text-align: center;
	background: var(--background-color);
	color: var(--color);
}

#top_links {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

#top_links li {
	display: inline-block;
	font-size: small;
	color: var(--accent);
}

#top_links a {
	color: var(--accent);
	text-decoration: none;
}

#top_links a:hover {
	color: var(--hover);
	cursor: pointer;
}

#logo {
	width: 150px;
	border: 5px solid var(--accent);
	border-radius: 50%;
	background-color: var(--background-color);
	margin: 32px auto 15px auto;
	display: inline-block;
}

#qrcode {
	margin: 32px auto 15px auto;
	border: 5px solid transparent;
	display: none;
}

.results_table {
	display: none;
	margin: 30px auto auto auto;
	width: 40%;
	border: 1px solid var(--accent);
	border-collapse: collapse;
}

.results_table tr {
	background: var(--background-color);
}

.results_table tr:nth-child(odd) {
	background: var(--background-color-alt);
}

.results_table tr:nth-child(1) {
	background: var(--accent);
	color: var(--color);
	border: 1px solid var(--accent);
}

.results_table td {
	width: 50%;
	text-align: left;
	padding: 5px;
}

.results_table th {
	padding: 5px;
	width: 50%;
}

#dictselector {
	font-size: 20px;
	text-align: center;
	outline: none;
	display: block;
	margin: 20px auto;
	background-color: var(--background-color);
	border: 2px solid var(--accent);
	border-radius: 5px;
}

#searchfield {
	height: 30px;
	font-size: 20px;
	width: 30%;
	outline: none;
}

#searchbutton {
	background: var(--accent);
	font-size: 20px;
	padding: 5px 8px;
	border: 1px solid var(--accent);
	border-radius: 10px;
	cursor: pointer;
	color: var(--background-color);
}

#searchbutton:hover {
	background: var(--background-color);
	color: var(--accent);
}

#highlight_term {
	transform: scale(0.8);
}

#highlight_term + label {
	font-size: 0.8em;
}

#info {
	margin: 5px 0px;
	font-size: small;
	font-style: italic;
}

#noresults {
	display: none;
	font-style: italic;
	font-size: 20px;
	margin-top: 30px;
}

@media only screen and (max-width: 600px) {
	.results_table { 
		width: 95%;
	}
	#searchfield {
		width: 80%;
	}
	#logo {
		width: 75px;
	}
	#logo_link {
		margin: 16px auto 0px auto;
	}
}
